<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      HTML MAKER
      <img src="/assets/img/logo.png" width="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0"><!--me-auto-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">
            Home
          </a>
        </li>
      </ul>

      <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" routerLink="/workspace">
            Work Space
          </a>
        </li>

        <li class="nav-item" *ngIf="user">
          <a href="#" class="nav-link" (click)="onLogout()">
            LogOut
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"> {{user?.email}} </a>
        </li>
      </ul>

      <ng-template #login>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              Login
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/register">
              Register
            </a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
