*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Sans serif';
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.fondo-home{
    margin-left: -118px;
    width: 121%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #005C98, #505BDA);
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner-titulo h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
    animation: movimiento 2.5s linear infinite;
}

.banner-titulo .btn-inicia{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #686b72;
    padding: 20px;
    border-radius: 15px;
    animation: movimiento 2.5s linear infinite;
}

.banner-img{
    animation: movimiento 2.5s linear infinite;
}

.banner-img img{
    width: 400px;
    display: block;
    background: #b0b2b8e5 ;
    border-radius: 50%;
}

/* burbujas */

.bubble{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;

    animation: bubbles 3s linear infinite ;
}

.bubble:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.bubble:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.bubble:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.bubble:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.bubble:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.bubble:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.bubble:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.bubble:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes bubbles{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
