<header class="fondo-home">
    <section class="banner contenedor">
        <section class="banner-titulo">
            <h2>MapLander <br> te presenta <br> HTML MAKER</h2>
            <a class="btn-inicia" [routerLink] = "['/login']">Inicia Ahora!</a>
        </section>
        <div class="banner-img">
            <img src="/assets/img/logo.png" alt="">
        </div>
    </section>

    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
</header>
